# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

#pytest module
.pytest_cache/

#vscode files
.vscode/settings.json

#data folders
data
!*/data/darus_data_download/scripts/darus_config.json

#imgs folder
imgs

#vid folder
vids

# build folders
build/