<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.5.1-0-g916b5db  Build Version: 1.5.7152.31018
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="Clip4">
  <link
    name="Clips_4.SLDPRT">
    <inertial>
      <origin
        xyz="-2.2754E-12 0.0016872 0.00010253"
        rpy="0 0 0" />
      <mass
        value="0.0019621" />
      <inertia
        ixx="1.3142E-07"
        ixy="1.088E-17"
        ixz="2.8232E-17"
        iyy="9.5226E-08"
        iyz="3.8903E-09"
        izz="1.5172E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="1.5707963267949 0 0" />
      <geometry>
        <mesh
          filename="package://Clip4/meshes/Clips_4.SLDPRT.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.2 0.2 0.2 1" />
        <texture
          filename="package://Clip4/textures/" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="1.5707963267949 0 0" />
      <geometry>
        <mesh
          filename="package://Clip4.SLDPRT/meshes/Clips_4.SLDPRT.STL" />
      </geometry>
    </collision>
  </link>
</robot>