<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.5.1-0-g916b5db  Build Version: 1.5.7152.31018
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="Clips_1_modified.SLDPRT">
  <link
    name="Clips_1_modified.SLDPRT">
    <inertial>
      <origin
        xyz="-2.3128E-09 -0.021332 -0.000140489999999999"
        rpy="0 0 0" />
      <mass
        value="0.0058626" />
      <inertia
        ixx="1.1179E-06"
        ixy="2.5956E-13"
        ixz="4.857E-14"
        iyy="2.2034E-07"
        iyz="-3.47749999999995E-09"
        izz="1.0881E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="1.5707963267949 0 0" />
      <geometry>
        <mesh
          filename="package://Clips_1_modified.SLDPRT/meshes/Clips_1_modified.SLDPRT.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.2 0.2 0.2 1" />
        <texture
          filename="package://Clips_1_modified.SLDPRT/textures/" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="1.5707963267949 0 0" />
      <geometry>
        <mesh
          filename="package://Clips_1_modified.SLDPRT/meshes/Clips_1_modified.SLDPRT.STL" />
      </geometry>
    </collision>
  </link>
</robot>