<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.5.1-0-g916b5db  Build Version: 1.5.7152.31018
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="Clips_4_modified.SLDPRT">
  <link
    name="Clips_4_modified.SLDPRT">
    <inertial>
      <origin
        xyz="-1.1157E-08 -0.018535 -0.000220489999999999"
        rpy="0 0 0" />
      <mass
        value="0.0065162" />
      <inertia
        ixx="1.5711E-06"
        ixy="1.1642E-12"
        ixz="-2.7234E-13"
        iyy="2.8011E-07"
        iyz="-3.43269999999992E-09"
        izz="1.5879E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="1.5707963267949 0 0" />
      <geometry>
        <mesh
          filename="package://Clips_4_modified.SLDPRT/meshes/Clips_4_modified.SLDPRT.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.2 0.2 0.2 1" />
        <texture
          filename="package://Clips_4_modified.SLDPRT/textures/" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="1.5707963267949 0 0" />
      <geometry>
        <mesh
          filename="package://Clips_4_modified.SLDPRT/meshes/Clips_4_modified.SLDPRT.STL" />
      </geometry>
    </collision>
  </link>
</robot>